body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #1f2937;
    padding-left: 70px;
    padding-right: 70px;
}

.push-header{
    margin-left: auto;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-link{
    color: #E5E7EB;
    font-size: 18px;
}

.section1{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: #1f2937;
}

.section1-image-file{
    max-width: 100%;
}

.section1-awesome{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #f9faf8;
}

.section1-subtext{
    color: #E5E7EB;
    font-size: 18px;
}

.section1-button{
    border-radius: 8px;
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-style: solid;
    border-width: 0;
}

.section2{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    text-align: center;
    color: #1f2937;
}

.random-information{
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.card-boxes{
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    background-color: #E5E7EB;
    border-radius: 12px;
}

.section3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.section3-quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0px;
}
.section3-thor{
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    color: #1f2937;
}

.section4{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-evenly;
    background-color: #3882F6;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;

}

.section4-button{
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

.section4-call{
    margin: 0px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.section4-sign{
    margin: 0px;
    color: #E5E7EB;
    font-size: 14px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 15px;
}

.footer-text{
    color: #E5E7EB;
    font-size: 12px;
}
